<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <springProperty scope="context" name="APP_DIR" source="spring.application.name"/>
    <springProperty scope="context" name="LOG_PATH" source="logging.path" defaultValue="/logs"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - [%method,%line] - %msg%n"/>
    <property name="LOG_COLOR_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %green(%-5level) - [%method,%line] %cyan(%logger{36}) - %msg%n" />
    <!--<property name="LOG_COLOR_PATTERN" value="%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) [%thread] %green(%logger{36}) - [%method,%line] - %highlight(%msg) %n" />-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${LOG_COLOR_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_DIR}/log-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_DIR}/log-info-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_DIR}/log-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_DIR}/log-error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <!-- 追加方式记录日志 -->
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE_ERROR"/>
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.lingdong.service.*.dao" level="DEBUG" />
    <!--<logger name="org.springframework" level="WARN" />-->

    <!-- 环境配置 -->
    <!--   <springProfile name="test,dev">
           <logger name="org.springframework.web" level="INFO"/>
           <logger name="org.springboot.sample" level="INFO" />
           <logger name="com.kfit" level="info" />
       </springProfile>-->
    <!-- 生产环境. -->
    <!--  <springProfile name="prod">
          <logger name="org.springframework.web" level="ERROR"/>
          <logger name="org.springboot.sample" level="ERROR" />
          <logger name="com.kfit" level="ERROR" />
      </springProfile>-->
</configuration>