<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="SPRING_APPLICATION_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="LOG_PATH" source="logging.path" defaultValue="/logs"/>
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%method,%line] - %msg%n" />
    <property name="LOG_COLOR_PATTERN" value="%yellow(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %green(%logger{36}) - [%method,%line] - %highlight(%msg) %n" />

    <!-- 控制台日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- INFO日志 -->
    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${LOG_PATH}/info.log</file>-->
        <file>/logs/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--<fileNamePattern>${LOG_PATH}/${SPRING_APPLICATION_NAME}.info.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <fileNamePattern>/logs/info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <!--<charset>UTF-8</charset>-->
        </encoder>
    </appender>

    <!-- 错误日志 -->
    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${LOG_PATH}/error.log</file>-->
        <file>/logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--<fileNamePattern>${LOG_PATH}/${SPRING_APPLICATION_NAME}.error.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <fileNamePattern>/logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <!--<charset>UTF-8</charset>-->
        </encoder>
    </appender>

    <!--<logger name="com.lingdong" level="info" />-->
    <!-- Spring日志级别控制  -->
    <!--<logger name="org.springframework" level="info" />-->
    <!--<logger name="com.lingdong.service.*.dao" level="DEBUG" />-->

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file_info"/>
    </root>

    <root level="error">
        <appender-ref ref="file_error"/>
    </root>
</configuration>