<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingdong.service.oversea.bi.dao.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.lingdong.service.oversea.bi.entity.AdminUser">
        <!--@Table admin_user-->
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectMenuListByUserId" resultType="java.lang.String">
        SELECT m.menu_name
        FROM admin_user_role ur
        LEFT JOIN admin_role_menu rm ON rm.role_id = ur.role_id
        INNER JOIN admin_role r ON r.role_id = ur.role_id
        INNER JOIN admin_menu m ON m.menu_id = rm.menu_id
        WHERE r.`status` = 'NORMAL' AND m.`status` = 'NORMAL'
        AND ur.user_id = #{userId}
    </select>
</mapper>